
body {

    background-color: gold;
}


h1 {

    color: red;
    display: inline-block;
    text-decoration-line: underline;    
    border: 500px;

}

h2 {

    text-decoration-color: gold;
}

h4 {

    text-decoration-line: underline;
}

div {

    background-color: greenyellow;
}

address {

    color: purple;
}
