html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: green;   
    border: 2px solid black;
}

main{
    border: 2px solid black;
    height: 100%;
    width: 75%;
}

.menu-button{
    width: 100px;
    height: 50px;
    background-color: black;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.knoppen {
    width: 200px;
    height: 100px;
    background: white;
    margin: 30px;
    border: 2px solid black;
}

.tekst{
    align-items: center;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    background: purple;
}

